<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341566460699-d4qipc5q00f1mblrjsap0u75eaacneip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341566460699-d4qipc5q00f1mblrjsap0u75eaacneip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341566460699-3bm3fv80co5oum2anvndhs0nogi4mrjq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDxXYJ33YMI241T9axi37KOt-WbqRX0_k</string>
	<key>GCM_SENDER_ID</key>
	<string>341566460699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tnitish.transito</string>
	<key>PROJECT_ID</key>
	<string>transito-8f50c</string>
	<key>STORAGE_BUCKET</key>
	<string>transito-8f50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341566460699:ios:9ceb370c8d2cdb6e6379be</string>
</dict>
</plist>